absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.14.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.6.2.post1
asgiref==3.8.1
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
bcrypt==5.0.0
bleach==6.3.0
blinker==1.7.0
cachetools==6.2.1
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.7
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
databases==0.9.0
debugpy==1.8.16
decorator==5.2.1
discord==2.3.2
discord.py==2.5.2
distlib==0.3.8
Django==5.1.1
django-cors-headers==4.7.0
django-tastypie==0.15.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
executing==2.2.1
fastapi==0.115.4
filelock==3.16.0
Flask==3.0.1
Flask-Login==0.6.3
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.7.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.76.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.15.1
idna==3.10
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.3
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kaggle==1.7.4.5
keras==2.15.0
kiwisolver==1.4.9
libclang==18.1.1
Mako==1.3.6
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.4
MathLab==0.1.0
matplotlib==3.10.7
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.2.0
multidict==6.6.3
mysql-connector-python==8.3.0
namex==0.1.0
narwhals==2.12.0
nest-asyncio==1.6.0
numpy==1.26.4
oauthlib==3.3.1
opencv-python==4.12.0.88
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.2
parso==0.8.5
pbr==6.1.0
pillow==12.0.0
platformdirs==4.3.3
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==4.25.8
psutil==7.0.0
psycopg2==2.9.10
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-mimeparse==2.0.0
python-slugify==8.0.4
pytz==2025.2
pywin32==311
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.4
requests-oauthlib==2.0.0
rich==14.2.0
rpds-py==0.29.0
rsa==4.9.1
scikit-learn==1.7.2
scipy==1.16.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.41.2
stevedore==5.3.0
streamlit==1.51.0
tenacity==9.1.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.2.0
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.5.0
uvicorn==0.32.0
virtualenv==20.26.4
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
virtualenvwrapper-win==1.2.7
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.1
whitenoise==6.12.0
wrapt==1.14.2
yarl==1.20.1
